{% extends "basico.html" %}
{% block css %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="css/portada.css">
{% endblock %}
{% block js %}
	{{ parent() }}
	<script type="text/javascript" src="js/jquery.imgcheckbox.js"></script>
	<script type="text/javascript" src="js/portada.js"></script>
{% endblock %}


{% block menu_principal %}
	<ul>
	{% for key,value in menu %}
		{% if value.id_padre == 0 %}
			<li><a href={{ value.enlace }}>{{ value.nombre }}</a>
				<ul class="hijo">
				{% for key,value2 in menu %}
					{% if value.id == value2.id_padre %}
						<li><a href={{ value2.enlace }}>{{ value2.nombre }}</a></li>
					{% endif %}
				{% endfor %}
				</ul>
			</li>
		{% endif %}

	{% endfor %}
		
		<div class="search">
			<input type="text" autocomplete="off" placeholder="Buscar evento.." />
			<div class="resultado">
			
			</div>
		</div>
	</ul>
{% endblock %}

{% block principal%}
	{% for key,value in eventos %}
	<div>
		<a href={{ "eventos.php?id=" ~ value.id  }} ><img src={{ value.ruta_imagen }} alt="Evento1: Alcalá la Real"/></a>
		<p>{{ value.titulo }}</p>
	</div>
	{% endfor %}
{% endblock %}